<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Show all my Books</title>
	<link th:href="@{css/main.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
	<div class="navigation" th:include="navbar :: navbar"></div>

	<div class="content">
<h1>My borrowed books</h1>
		<fieldset>
			<form th:object="${myBookData}" method="POST">
				<br />
				<label th:for="email">Email:</label>
					<input id="email" type="text" th:field="*{email}" />
					<span class="form-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				<br />
					<input type="submit" id="showMyBooks" value="Show my Books" />

			</form>
		</fieldset>
	<div th:if="${not #lists.isEmpty(myBooks)}">
		<hr />
		<table class="bookList">
		<thead>
			<tr>
				<th>Title</th>
				<th>ISBN</th>
				<th>Return Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${myBooks}">
				<td th:text="${book.title}">Harry Potter</td>
				<td th:text="${book.isbn}">123456</td>
				<td th:text="${#dates.format(book.returnDate, 'dd-MMM-yyyy')}">12-Oct-2012</td>
			</tr>
		</tbody>
		</table>
	</div>

	</div></div>

	<div style="position: relative; bottom: 0"  th:include="footer :: footer"></div>
</body>
</html>